Data Wrangling Notebook for Additional Deer Data
<br />
Neeka Sewnath
<br />
nsewnath@ufl.edu

In [69]:
import pandas as pd

In order to piece together the database, I'm thinking we just need one to start building on

In [70]:
#Base data
deer_data = pd.read_csv("bone.csv")

I chose deer data because I'm hoping bone ID refers to each individual element and there for will be the limiting factor here. I'm going to continue in order and assess what needs to be matched. I don't really know where this one fits so I'll keep going for now.

In [71]:
#TODO: figure out where this fits
assemblage = pd.read_csv("assemblage.csv")

In [72]:
#TODO: figure out where this fits
bone_measurement = pd.read_csv("bone_measurement.csv")

In [73]:
#TODO: figure out where this fits
context = pd.read_csv("context.csv")

In [74]:
bone_type = pd.read_csv("bone_type.csv")

We can definitely work with this one. If there is a match between the two data sets then fill the bone type with the correct name

In [75]:
#Create bone_type column in deer_data
deer_data=deer_data.assign(bone_type_name="")

#Find match, if there's a match, assign bone type
for i in deer_data["bone_type_id"].index:
    for j in bone_type["bone_type_id"].index:
        if deer_data["bone_type_id"][i] == bone_type["bone_type_id"][j]:
            deer_data["bone_type_name"][i] = bone_type["bone_type_name"][j]

<ipython-input-75-ee491b5e91b0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deer_data["bone_type_name"][i] = bone_type["bone_type_name"][j]

In [87]:
reference = pd.read_csv("reference.csv")
reference

,reference_id,reference_details,created_by,created_date,modified_by,modified_date
0,1,"Albarella, U. &#038; Davis, S. 1996. Mammals a...",acznjs,2009-11-20 00:00:00,aczjd,2016-07-02 00:00:00
1,2,"Albarella, U., Beech, M. &#038; Mulville, J. 1...",acznjs,2009-11-20 00:00:00,aczjd,2016-04-05 00:00:00
2,3,"Arbuckle, B. Personal communication.",acznjs,2009-11-20 00:00:00,aczjd,2016-07-02 00:00:00
3,4,"Ayre, K. &#038; Serjeantson, D. 2002. The Anim...",acznjs,2009-11-20 00:00:00,aczjd,2016-07-02 00:00:00
4,5,"Ayres, K., Ingrem, C., Light, J., Locker, A., ...",acznjs,2009-11-20 00:00:00,aczjd,2016-07-02 00:00:00
...,...,...,...,...,...,...
95,95,"Parfitt, S. 1988. The animal bones. In M. Gard...",acznjs,2009-11-20 00:00:00,aczjd,2016-07-03 00:00:00
96,96,"Prummel, W. 1977. Een bewerkt damhertbeen uit ...",acznjs,2009-11-20 00:00:00,aczjd,2016-07-03 00:00:00
97,97,"Rahtz, P. 1977. Fauna. In P. Rahtz &#038; E. G...",acznjs,2009-11-20 00:00:00,aczjd,2016-07-03 00:00:00
98,98,"Rauh, H. 1981. <em>Knochenfunde von S&#228;uge...",acznjs,2009-11-20 00:00:00,aczjd,2016-07-03 00:00:00
99,99,"Reichstein, H. 1979. Erste ergebnisse von unte...",acznjs,2009-11-20 00:00:00,aczjd,2016-07-03 00:00:00

Do the same matching scheme again with the references

In [77]:
#Create reference column in deer_data
deer_data=deer_data.assign(reference="")

#Find match, if there's a match, assign bone type
for i in deer_data["reference_id"].index:
    for j in reference["reference_id"].index:
        if deer_data["reference_id"][i] == reference["reference_id"][j]:
            deer_data["reference"][i] = reference["reference_details"][j]

#Note: a lot of the references are missing.

<ipython-input-77-780f941478ce>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deer_data["reference"][i] = reference["reference_details"][j]

Moving on to site.csv, which will have the same mechanisms, be a little more involved, but have a lot of pieces of the puzzle!

In [78]:
site = pd.read_csv("site.csv")

In [79]:
#Create site columns in deer_data
deer_data=deer_data.assign(site_name="")
deer_data=deer_data.assign(country_code="")
deer_data=deer_data.assign(region="")
deer_data=deer_data.assign(location="")

#Find match, if there's a match, assign bone type
for i in deer_data["site_code"].index:
    for j in site["site_code"].index:
        if deer_data["site_code"][i] == site["site_code"][j]:
            deer_data["site_name"][i] = site["site_name"][j]
            deer_data["country_code"][i] = site["country_code"][j]
            deer_data["region"][i] = site["region"][j]
            deer_data["location"][i] = site["location"][j]

<ipython-input-79-3b67efecec65>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deer_data["site_name"][i] = site["site_name"][j]
<ipython-input-79-3b67efecec65>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deer_data["country_code"][i] = site["country_code"][j]
<ipython-input-79-3b67efecec65>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deer_data["region"][i] = site["region"][j]
<ipython-input-79-3b67efecec65>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deer_data["location"][i] = site["location"][j]

Now we can move on to country code

In [80]:
country = pd.read_csv("country.csv")

In [81]:
#Create country column in deer_data
deer_data=deer_data.assign(country_name="")

#Find match, if there's a match, assign bone type
for i in deer_data["country_code"].index:
    for j in country["country_code"].index:
        if deer_data["country_code"][i] == country["country_code"][j]:
            deer_data["country_name"][i] = country["country_name"][j]

<ipython-input-81-e109503c5978>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deer_data["country_name"][i] = country["country_name"][j]

We can do the same method for species id

In [82]:
species = pd.read_csv("species.csv")

In [83]:
#Create species column in deer_data
deer_data=deer_data.assign(common_name="")
deer_data=deer_data.assign(latin_name="")

#Find match, if there's a match, assign bone type
for i in deer_data["species_id"].index:
    for j in species["species_id"].index:
        if deer_data["species_id"][i] == species["species_id"][j]:
            deer_data["common_name"][i] = species["common_name"][j]
            deer_data["latin_name"][i] = species["latin_name"][j]

<ipython-input-83-d401f7be2599>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deer_data["common_name"][i] = species["common_name"][j]
<ipython-input-83-d401f7be2599>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deer_data["latin_name"][i] = species["latin_name"][j]

Moving on to period id

In [84]:
period = pd.read_csv("period.csv")
period

    period_id              period_name  sequence_number
0           1     Mesolithic/Neolithic                2
1           2                Neolithic                3
2           3     Neolithic/Bronze Age                4
3           4               Bronze Age                5
4           5      Bronze Age/Iron Age                6
5           6                 Iron Age                7
6           7           Iron Age/Roman                8
7           8                    Roman                9
8           9           Early Medieval               10
9          10  Early Medieval/Medieval               11
10         11                 Medieval               12
11         12            Post Medieval               13
12         13                   Modern               14
13         14             Palaeolithic                1

In [85]:
#Create period columns in deer_data
deer_data=deer_data.assign(period_name="")
deer_data=deer_data.assign(sequence_number="")

#Find match, if there's a match, assign bone type
for i in deer_data["period_id"].index:
    for j in period["period_id"].index:
        if deer_data["period_id"][i] == period["period_id"][j]:
            deer_data["period_name"][i] = period["period_name"][j]
            deer_data["sequence_number"][i] = period["sequence_number"][j]

<ipython-input-85-c408340e3b0d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deer_data["period_name"][i] = period["period_name"][j]
<ipython-input-85-c408340e3b0d>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deer_data["sequence_number"][i] = period["sequence_number"][j]

In [86]:
deer_data

,site_code,reference_id,period_id,bone_id,species_id,bone_type_id,bone_date,position,gender,age,...,reference,site_name,country_code,region,location,country_name,common_name,latin_name,period_name,sequence_number
0,AB78L01,152,8,1,1,23,RTJ TEST,NaN,U,NaN,...,,"AB78, London",GBR,London,NaN,United Kingdom,European Fallow deer,Dama dama (European),Roman,9
1,ABRID01,170,14,1,4,3,Late Pleistocene,NaN,U,NaN,...,,Abri Dufaure,FRA,Aquitane,NaN,France,Reindeer,Rangifer tarandus,Palaeolithic,1
2,ABRID01,170,14,2,4,4,Late Pleistocene,NaN,U,NaN,...,,Abri Dufaure,FRA,Aquitane,NaN,France,Reindeer,Rangifer tarandus,Palaeolithic,1
3,ABRID01,170,14,3,4,5,Late Pleistocene,NaN,U,NaN,...,,Abri Dufaure,FRA,Aquitane,NaN,France,Reindeer,Rangifer tarandus,Palaeolithic,1
4,ABRID01,170,14,4,4,5,Late Pleistocene,NaN,U,NaN,...,,Abri Dufaure,FRA,Aquitane,NaN,France,Reindeer,Rangifer tarandus,Palaeolithic,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ALON001,180,4,1,5,3,"Philia period (c. 2,400-2,200 BC)",NaN,U,NaN,...,,Alonia,CYP,NaN,NaN,Cyprus,Persian Fallow deer,Dama dama (Persian),Bronze Age,5
96,ALON001,180,4,2,5,3,"Philia period (c. 2,400-2,200 BC)",NaN,U,NaN,...,,Alonia,CYP,NaN,NaN,Cyprus,Persian Fallow deer,Dama dama (Persian),Bronze Age,5
97,ALON001,180,4,3,5,3,"Philia period (c. 2,400-2,200 BC)",NaN,U,NaN,...,,Alonia,CYP,NaN,NaN,Cyprus,Persian Fallow deer,Dama dama (Persian),Bronze Age,5
98,ALON001,180,4,4,5,3,"Philia period (c. 2,400-2,200 BC)",NaN,U,NaN,...,,Alonia,CYP,NaN,NaN,Cyprus,Persian Fallow deer,Dama dama (Persian),Bronze Age,5
99,ALON001,180,4,5,5,3,"ECI-II (c. 2,300-2,000 BC)",NaN,U,NaN,...,,Alonia,CYP,NaN,NaN,Cyprus,Persian Fallow deer,Dama dama (Persian),Bronze Age,5

I might be able to do assemblage next, then followed by context, but I'd have to match two. measurement_type also needs to be addressed but that should be easy once bone tables are fixed. Add site.csv

In [ ]:
This gets tricky. There are multiple bone_ids.