Data Wrangling Notebook for Additional Deer Data
<br />
Neeka Sewnath
<br />
nsewnath@ufl.edu

Silencing warnings that are unnecessary

In [1]:
try:
    import warnings
    warnings.filterwarnings('ignore')
except:
    pass

In [2]:
import pandas as pd

In order to piece together the database, I'm thinking we just need one to start building on

In [3]:
#Base data
deer_data = pd.read_csv("bone.csv")

I chose deer data because I'm hoping bone ID refers to each individual element and there for will be the limiting factor here. I'm going to continue in order and assess what needs to be matched. I don't really know where this one fits so I'll keep going for now.

In [4]:
#TODO: figure out where this fits
assemblage = pd.read_csv("assemblage.csv")

In [6]:
#TODO: figure out where this fits
context = pd.read_csv("context.csv")

We can definitely work with this one. If there is a match between the two data sets then fill the bone type with the correct name

In [8]:
#Create bone_type column in deer_data
deer_data=deer_data.assign(bone_type_name="")

#Find match, if there's a match, assign bone type
for i in deer_data["bone_type_id"].index:
    for j in bone_type["bone_type_id"].index:
        if deer_data["bone_type_id"][i] == bone_type["bone_type_id"][j]:
            deer_data["bone_type_name"][i] = bone_type["bone_type_name"][j]

In [9]:
reference = pd.read_csv("reference.csv")
reference

,reference_id,reference_details,created_by,created_date,modified_by,modified_date
0,1,"Albarella, U. &#038; Davis, S. 1996. Mammals a...",acznjs,2009-11-20 00:00:00,aczjd,2016-07-02 00:00:00
1,2,"Albarella, U., Beech, M. &#038; Mulville, J. 1...",acznjs,2009-11-20 00:00:00,aczjd,2016-04-05 00:00:00
2,3,"Arbuckle, B. Personal communication.",acznjs,2009-11-20 00:00:00,aczjd,2016-07-02 00:00:00
3,4,"Ayre, K. &#038; Serjeantson, D. 2002. The Anim...",acznjs,2009-11-20 00:00:00,aczjd,2016-07-02 00:00:00
4,5,"Ayres, K., Ingrem, C., Light, J., Locker, A., ...",acznjs,2009-11-20 00:00:00,aczjd,2016-07-02 00:00:00
...,...,...,...,...,...,...
200,203,"Rainsford, C. Personal communication. York Arc...",aczhm,2016-04-20 00:00:00,aczjd,2016-07-03 00:00:00
201,204,"White, J. 2005. <em>The Mammal Bones from Wind...",aczhm,2016-04-20 00:00:00,aczjd,2016-07-03 00:00:00
202,205,"Bonafini, M., Pellegrini, M., Ditchfield, P. &...",aczhm,2016-04-20 00:00:00,aczjd,2016-07-02 00:00:00
203,206,"Bartosiewicz, L. 2013. Animals in Bronze Age E...",aczjd,2016-06-29 00:00:00,aczjd,2016-07-02 00:00:00
204,209,Canan Çakirlar pers comm,admin,2018-08-29 00:00:00,NaN,NaN

Do the same matching scheme again with the references

In [10]:
#Create reference column in deer_data
deer_data=deer_data.assign(reference="")

#Find match, if there's a match, assign bone type
for i in deer_data["reference_id"].index:
    for j in reference["reference_id"].index:
        if deer_data["reference_id"][i] == reference["reference_id"][j]:
            deer_data["reference"][i] = reference["reference_details"][j]

#Note: a lot of the references are missing.

Moving on to site.csv, which will have the same mechanisms, be a little more involved, but have a lot of pieces of the puzzle!

In [11]:
site = pd.read_csv("site.csv")

In [12]:
#Create site columns in deer_data
deer_data=deer_data.assign(site_name="")
deer_data=deer_data.assign(country_code="")
deer_data=deer_data.assign(region="")
deer_data=deer_data.assign(location="")

#Find match, if there's a match, assign bone type
for i in deer_data["site_code"].index:
    for j in site["site_code"].index:
        if deer_data["site_code"][i] == site["site_code"][j]:
            deer_data["site_name"][i] = site["site_name"][j]
            deer_data["country_code"][i] = site["country_code"][j]
            deer_data["region"][i] = site["region"][j]
            deer_data["location"][i] = site["location"][j]

Now we can move on to country code

In [13]:
country = pd.read_csv("country.csv")

In [14]:
#Create country column in deer_data
deer_data=deer_data.assign(country_name="")

#Find match, if there's a match, assign bone type
for i in deer_data["country_code"].index:
    for j in country["country_code"].index:
        if deer_data["country_code"][i] == country["country_code"][j]:
            deer_data["country_name"][i] = country["country_name"][j]

We can do the same method for species id

In [15]:
species = pd.read_csv("species.csv")

In [16]:
#Create species column in deer_data
deer_data=deer_data.assign(common_name="")
deer_data=deer_data.assign(latin_name="")

#Find match, if there's a match, assign bone type
for i in deer_data["species_id"].index:
    for j in species["species_id"].index:
        if deer_data["species_id"][i] == species["species_id"][j]:
            deer_data["common_name"][i] = species["common_name"][j]
            deer_data["latin_name"][i] = species["latin_name"][j]

Moving on to period id

In [17]:
period = pd.read_csv("period.csv")
period

    period_id              period_name  sequence_number
0           1     Mesolithic/Neolithic                2
1           2                Neolithic                3
2           3     Neolithic/Bronze Age                4
3           4               Bronze Age                5
4           5      Bronze Age/Iron Age                6
5           6                 Iron Age                7
6           7           Iron Age/Roman                8
7           8                    Roman                9
8           9           Early Medieval               10
9          10  Early Medieval/Medieval               11
10         11                 Medieval               12
11         12            Post Medieval               13
12         13                   Modern               14
13         14             Palaeolithic                1

In [18]:
#Create period columns in deer_data
deer_data=deer_data.assign(period_name="")
deer_data=deer_data.assign(sequence_number="")

#Find match, if there's a match, assign bone type
for i in deer_data["period_id"].index:
    for j in period["period_id"].index:
        if deer_data["period_id"][i] == period["period_id"][j]:
            deer_data["period_name"][i] = period["period_name"][j]
            deer_data["sequence_number"][i] = period["sequence_number"][j]

In [19]:
deer_data

,site_code,reference_id,period_id,bone_id,species_id,bone_type_id,bone_date,position,gender,age,...,reference,site_name,country_code,region,location,country_name,common_name,latin_name,period_name,sequence_number
0,AB78L01,152,8,1,1,23,RTJ TEST,NaN,U,NaN,...,Unpublished MoLA collections,"AB78, London",GBR,London,NaN,United Kingdom,European Fallow deer,Dama dama (European),Roman,9
1,ABRID01,170,14,1,4,3,Late Pleistocene,NaN,U,NaN,...,"Weinstock, J. 2000. <em>Late Pleistocene reind...",Abri Dufaure,FRA,Aquitane,NaN,France,Reindeer,Rangifer tarandus,Palaeolithic,1
2,ABRID01,170,14,2,4,4,Late Pleistocene,NaN,U,NaN,...,"Weinstock, J. 2000. <em>Late Pleistocene reind...",Abri Dufaure,FRA,Aquitane,NaN,France,Reindeer,Rangifer tarandus,Palaeolithic,1
3,ABRID01,170,14,3,4,5,Late Pleistocene,NaN,U,NaN,...,"Weinstock, J. 2000. <em>Late Pleistocene reind...",Abri Dufaure,FRA,Aquitane,NaN,France,Reindeer,Rangifer tarandus,Palaeolithic,1
4,ABRID01,170,14,4,4,5,Late Pleistocene,NaN,U,NaN,...,"Weinstock, J. 2000. <em>Late Pleistocene reind...",Abri Dufaure,FRA,Aquitane,NaN,France,Reindeer,Rangifer tarandus,Palaeolithic,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36321,YENI002,209,4,148,1,28,Early Bronze Age,NaN,U,NaN,...,Canan Çakirlar pers comm,Yenibademli Höyük,TUR,NaN,NaN,Turkey,European Fallow deer,Dama dama (European),Bronze Age,5
36322,YENI002,209,4,149,1,28,Early Bronze Age,NaN,U,NaN,...,Canan Çakirlar pers comm,Yenibademli Höyük,TUR,NaN,NaN,Turkey,European Fallow deer,Dama dama (European),Bronze Age,5
36323,YENI002,209,4,150,1,28,Early Bronze Age,NaN,U,NaN,...,Canan Çakirlar pers comm,Yenibademli Höyük,TUR,NaN,NaN,Turkey,European Fallow deer,Dama dama (European),Bronze Age,5
36324,YENI002,209,4,151,1,28,Early Bronze Age,NaN,U,NaN,...,Canan Çakirlar pers comm,Yenibademli Höyük,TUR,NaN,NaN,Turkey,European Fallow deer,Dama dama (European),Bronze Age,5
36325,ZATOY01,170,14,1,4,23,NaN,NaN,U,NaN,...,"Weinstock, J. 2000. <em>Late Pleistocene reind...",Zatoya,ESP,Navarra,NaN,Spain,Reindeer,Rangifer tarandus,Palaeolithic,1

I'll have to incorporate this one to the main data later, but I'm realizing that in order to combine term with measurementType, I need to combine the bone_type and bone measurement dataframes before proceeding on.

In [20]:
bone_measurement = pd.read_csv("bone_measurement.csv")
bone_type = pd.read_csv("bone_type.csv")
deer_data = pd.read_csv("bone.csv")

bone_type

new_df = bone_measurement

new_df = new_df(assign = bone_type_name)

for i in new_df["bone_id"].index: 
    for j in bone_type.index:
        if new_df["bone_id"] == 

for i in deer_data["reference_id"].index:
    for j in reference["reference_id"].index:
        if deer_data["reference_id"][i] == reference["reference_id"][j]:
            deer_data["reference"][i] = reference["reference_details"][j]